/* styles.css */

/* Basic reset */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: url(bg\ brown.webp);
    background-position: center;
    background-size: cover;
    height: 200vh;
    position: relative;
    font-family: sans-serif;

}
.navbar{
    width: 86%
    display: flex;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    width: 100px;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 48%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
}

header {
    background: brown;
    color: #fff;
    padding: 1rem;
}
nav ul {
    margin-top: -3%;
    list-style: none;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
    margin-top: -3%;
    transition: .4s ease;
}

ul li a:hover{
    color: salmon;
}
.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h1{
    font-size: 65px;
    color: rgb(36,32,30);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color: brown;
}

.info a{
    text-decoration: none;
    color: slategray;
    background: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}

.info a:hover{
    background: salmon;
}

.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100%;
    bottom: 0%;
}

.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
    transition: left 2s ease;
}
.image:hover .girl{
    left: 55%;
}

section {
    padding: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

.project {
    margin-bottom: 1rem;
}

footer {
    background: salmon;
    color: slategray;
    text-align: center;
    padding: 1rem;
}
